<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
    /* Add your CSS styles here */
    * {
      text-align: center;
    }
label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
  text-align: left;
}
  </style>
</head>
<body>
  <div class="container-fluid bg-light about py-5">
<h1>GenWise</h1>
    <form>
      <div class="about-item-content bg-white rounded p-5 h-100">
        <h2>Login Page</h2><br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <a href="#" class="forgot-password">Forgot Password?</a><br><br>
        <button type="submit">Login</button><br><br>
        <a href="#" class="create-account">Not a user? Create an account</a>
      </div>
    </form>
  </div>
</body>
</html>
